* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font Mono, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(18,11,16,0);
    color: #FF0055;
}

tooltip {
    background: rgba(18,11,16,0.8);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #F4EF00;
}

tooltip label {
    color: #F4EF00;
}

#workspaces button {
    padding: 5px;
    color: #BB7800;
    margin-right: 5px;
}

#workspaces button.active {
    color: #F4EF00;
    border-radius: 10px;
}

#workspaces button.focused {
    color: #F4EF00;
    background: #eba0ac;
}

#workspaces button.urgent {
    color: #FF0055;
    background: #a6e3a1;
}

#workspaces button:hover {
    background: #563466;
    color: #FF0055;
    border-radius: 10px;
    border-color: #009550;
    box-shadow: 0px -1px #F4EF00;
    text-shadow: inherit;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: #1e1e2e;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #181825;
}

#tray {
    background: #120B10;
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #120B10;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: #89dceb;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: #f38ba8;
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    background: #120B10;
    color: #f5c2e7;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#window {
    background: #120B10;
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    background: #120B10;
    color: #FF0055;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    background: #120B10;
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    background: #120B10;
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    background: #120B10;
    color: #cba6f7;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    background: #120B10;
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    background: #120B10;
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}
